
@{
    Layout = null;
}

<section id="skills" class="bg-light">
	<div class="container">
		<div class="row mb-8">
			<div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
				<div class="section-title h2 mb-3">
					<h2 class="mb-0">Yetenekler</h2>
					<span class="title-letter">Y</span>
				</div>
				<p>“Yoğun bir çalışma disipliniyle detaylara odaklanır, süreci dikkatle yönetirim. Planlama ve uygulama aşamalarında titizlikle ilerler, güçlü iletişim ve organizasyon becerilerimle projeleri verimli şekilde tamamlarım. Sürekli gelişimi benimseyerek, yaptığım işte kaliteyi ve sürdürülebilir başarıyı ön planda tutarım.”</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-4 mb-md-0">
				<p class="h6 mb-1">C#</p>
				<div class="progress mb-6 rounded-0" style="height:5px">
					<div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<p class="h6 mb-1">MongoDb</p>
				<div class="progress rounded-0" style="height:5px">
					<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col-md-6">
				<p class="h6 mb-1">Sql</p>
				<div class="progress mb-6 rounded-0" style="height:5px">
					<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<p class="h6 mb-1">Java Script</p>
				<div class="progress rounded-0" style="height:5px">
					<div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>
</section>