@model List<AkademiQPortfolioo.Data.ServicesTable>
@{
    ViewData["Title"] = "CreateServices";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1>Burası Deneyim Oluşturma sayfası</h1>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <label>Icon</label>
    <input type="text" class="form-control" name="Icon" />
    <button type="submit" class="btn btn-success">Oluştur</button>
</form>


