@model AkademiQPortfolioo.Data.ServicesTable
@{
    ViewData["Title"] = "UpdateSkill"; // Ayşe Nurun ödevi :)
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Burası Güncelleme sayfası</h1>

<form method="post">
    <label>ID</label>
    <input type="text" class="form-control" name="ExperinceID" value="@Model.ExperienceId" readonly />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <label>Icon</label>
    <input type="text" class="form-control" name="Icon" value="@Model.Icon" />

    <button type="submit" class="btn btn-success">Güncelle</button>
</form>